@import'../../../../Common/css/variable.css';

.pub_variant_2 {
	position: relative;
	height: var(--banner-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.pub_variant_2 h3 {
	z-index: 2;
	color:white !important;
}
.pub_variant_2 #image-container {
	z-index: 0;
}

.pub_variant_2 .button_original {
	position: absolute;
	bottom: 1rem;
}
