@import '../../../../Common/css/variable.css';
.pub {
	background-color: var(--color-secondary-3);
	font-weight: var(--font-weight);
	display: flex;
	padding: 0.5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.pub h2 {
	margin: auto;
	color: white;
}
