.slider_variant_2_wrapper {
	height: 70vh;
	position: relative;
}

.slider_variant_2 .slick-dots {
	position: relative !important;
	bottom: 0 !important;
	display: flex !important;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.slider_variant_2 .slick-dots li {
	height: 8rem;
	width: 100%;
	margin: 0.2rem;
}

@media only screen and (min-width: 500px) {
.slider_variant_2 .slick-dots li {
	width: 15rem;
}
}