@import '../../../../Common/css/variable.css';

.slider_variant_1 {
	position: relative;
}
.slider_varian1_wrapper {
	height: 15rem;
	position: relative;
	padding: 1rem;
}
.slider_variant_1 h3 {
	margin-left: var(--margin-section-side);
}

.slider_varian1_wrapper #image-container {
	padding: 0.5rem;
}
