@import '../../../Common/css/variable.css';

.filter_product {
	display: block;
	height: 100vh;
	width: 100%;
	transform: translateY(0vw);
	position: fixed;
	z-index: 100;
	transition: 200ms;
	overflow: auto;
	padding: 1rem;
	top: 10rem;
	left: 0;
	flex: 1
}

.filter_product h3 {
	text-transform: uppercase;
}
.sub_filter_product {
	margin-top: var(--margin-minor-2);
}
.sub_filter_product:first-child {
	margin-top:0;
}

.filter_product_close {
	margin-bottom: 2rem;
}

.filter_product_close svg {
	font-size: var(--size-icon);
}

.sub_filter_product_top {
	width: 100%;
}

.apply_effects_sub_filter {
	max-height: 100% !important;
}

.sub_filter_product_bottom {
	max-height: 0;
	overflow: hidden;
}

.sub_filter_product_top svg {
	opacity: 1;
	font-size: var(--size-icon);
	transform: rotate(-180deg);
}

.apply_effects_sub_filter svg {
	transform: rotate(0deg);
}

@media only screen and (min-width: 770px) {
	.filter_product {
		position: sticky;
		top: 0;
		padding: 0rem;
		overflow: scroll;
	}

	.filter_product_close {
		display: none;
	}

	.sub_filter_product_bottom div {
		transform: translateY(-100%);
		transition: all 200ms;
	}

	.apply_effects_sub_filter div {
		transform: translateY(0%);
		transition: all 200ms;
	}
}

.sub_filter_product_top span {
	font-weight: bold;
	text-transform: capitalize;
}

@media only screen and (max-width: 770px) {
	.sub_filter_product_top span {
		font-size: 1.5rem;
	}
}