.achernar {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
}

.achernar_section_1,
.achernar_section_2,
.achernar_section_3,
.achernar_section_4 {
	grid-column: 1/5;
}

.achernar_section_3 {
	position: relative;
}

@media only screen and (min-width: 770px) {
	.achernar {
		grid-template-columns: repeat(12, 1fr);
	}
	.achernar_section_1,
	.achernar_section_2,
	.achernar_section_3,
	.achernar_section_4 {
		grid-column: 1/13;
	}
}
