@import '../../Common/css/variable.css';

#error-boundary {
	grid-column: 1/5;
	margin-left: var(--margin-section-side);
	margin-right: var(--margin-section-side);
}

#error-boundary h3 {
	margin-left: 0rem !important;
	text-transform: inherit;
}

#error-boundary p {
	padding: 0.5rem 0 0.5rem 0;
}

/* #error-boundary p {
	margin-top: 
} */
@media only screen and (min-width: 770px) {
	#error-boundary {
		grid-column: 1/13;
		margin-left: clamp(1rem, calc(var(--margin-section-side) + 2rem), 3.1rem);
		margin-right: clamp(1rem, calc(var(--margin-section-side) + 2rem), 3.1rem);
	}
}
