@import '../../../Common/css/variable.css';

.cassiopeia {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
}

.cassiopeia_section_1,
.cassiopeia_section_2,
.cassiopeia_section_3,
.cassiopeia_section_4,
.cassiopeia_section_5 {
	grid-column: 1/5;
}

.cassiopeia_section_2,
.cassiopeia_section_3,
.cassiopeia_section_4 {
	margin-top: var(--margin-section-top);
}

.cassiopeia_section_2,
.cassiopeia_section_3 {
	margin-left: var(--margin-section-side);
	margin-right: var(--margin-section-side);
}


.cassiopeia_section_3_effect .filter_product_nav_mobile {
	width: 100%;
	z-index: 100;
	position: fixed;
	height: 100vh;
	/* todo: translateY(115vw)*/
	transform: translateY(100vw);
	transition: transform 200ms;
}

.cassiopeia_loader > div {
	margin: auto;
}

@media only screen and (min-width: 770px) {
	.cassiopeia {
		grid-template-columns: repeat(12, 1fr);
	}

	.cassiopeia_section_2,
	.cassiopeia_section_3 {
			margin-left:clamp(1rem,  calc(var(--margin-section-side) + 2rem), 3.1rem);
	  margin-right:clamp(1rem,  calc(var(--margin-section-side) + 2rem), 3.1rem);

	}

	.cassiopeia_section_1,
	.cassiopeia_section_2,
	.cassiopeia_section_3,
	.cassiopeia_section_4 {
		grid-column: 1/13;
	}

	.cassiopeia_section_3 {
		grid-template-columns: repeat(12, 1fr);
	}

	.cassiopeia_section_3 h3 {
		grid-column: 4/13;
		margin-left: 1rem;
	}

	.cassiopeia_section_3_effect .filter_product {
		display: none;
	}

	.cassiopeia_section_3_effect .article_group_original {
		grid-column: 1/12;
		flex:2;
	}
	.cassiopeia_section_3 .products_empty {
		flex:2;
	}
	.cassiopeia_loader {
		grid-column: 1/13;
		display: flex;
	}
}
