	@import'../../../Common/css/variable.css';

	.cassiopeia {
		grid-template-columns: repeat(4, 1fr);
		display: grid;
	}

	.cassiopeia_section_1,
	.cassiopeia_section_2,
	.cassiopeia_section_3,
	.cassiopeia_section_4 {
		grid-column: 1/5;
		
	}
	.cassiopeia_section_2,
	.cassiopeia_section_3,
	.cassiopeia_section_4 {
  margin-top: var(--margin-section-top);
	}
	.cassiopeia_section_3 {
		position: relative;
	}

	.cassiopeia_section_2,
	.cassiopeia_section_3 {
		margin-left: var(--margin-section-side);
		margin-right: var(--margin-section-side);

	}

	@media only screen and (min-width: 770px) {
		.cassiopeia {
			grid-template-columns: repeat(12, 1fr);
		}


		.cassiopeia_section_2,
		.cassiopeia_section_3 {
			margin-left: Calc(var(--margin-section-side) + 2rem);
			margin-right: Calc(var(--margin-section-side) + 2rem);
		}

		.cassiopeia_section_1,
		.cassiopeia_section_2,
		.cassiopeia_section_3,
		.cassiopeia_section_4 {
			grid-column: 1/13;
		}
	}