
@import'../../../../Common/css/variable.css';

.article_group_original a {
	margin-bottom: var(--margin-minor-2);
}

.article_group_loader {
	grid-column: 1/5;
	display: flex;
}
.article_group_loader > div {
	margin: auto;
}
@media only screen and (min-width: 770px) {
	.article_group_loader {
		grid-column: 1/13;
	}
}
