/*==============================
	- Author: Nabil
	- Website: E-commerce
================================= */

html {
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

/* ----------------------------------------------*/
/* 01 Body 			                            		 */
/* ----------------------------------------------*/
/*tag*/
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
svg:hover {
cursor: pointer;
}
path {
fill:inherit;
}
/***Class***/
/* Display */
.flex_row {
	display: flex;
}

.flex_column {
	display: flex;
	flex-direction: column;
}
.flex_row_justify_end {
	display:flex;
	justify-content: flex-end;
}
.flex_row_wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex_row_wrap_center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.flex_row_wrap_align_center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flex_row_wrap_evenly {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex_row_wrap_evenly_align_start {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: flex-start;
}
.flex_row_end {
	display: flex;
	justify-content: flex-end;
}

.flex_row_between {
	display: flex;
	justify-content: space-between;
}
.flex_row_between_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex_column_evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flex_row_between_align_center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex_row_center {
	display: flex;
	justify-content: center;
}
.flex_row_center_align_center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex_row_align_items_center {
	display: flex;
	align-items: center;
}

/* ----------------------------------------------*/
/* 02 User preference			                     	 */
/* ----------------------------------------------*/

/* No motion */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0s !important;
		animation-iteration-count: 0s !important;
		transition-duration: 0s !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
	}
}
