@import'../../../../Common/css/variable.css';
.article_original_information {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top:var(--margin-minor);
}
.article_original_image_wrapper {
	position: relative;
	height:var(--height-image-card-product-mobile);
}

.article_original_image_wrapper img {
	border-radius:var(--border-radius);
}
.article_original {
	width: 45vw;
}

@media only screen and (min-width: 770px) {
	.article_original {
		width: 25vw;
	}
	.article_original_image_wrapper {
		height:var(--height-image-card-product-desktop);
	}
}

@media only screen and (min-width: 1449px) {
	.article_original {
		width: 23vw;
	}
}
