	.eridanus  { 
			grid-template-columns : repeat(4, 1fr); 
			display:grid;
	}




.eridanus_section_1, .eridanus_section_2, .eridanus_section_3, .eridanus_section_4, .eridanus_section_5, .eridanus_section_6{
	grid-column: 1/5;
}

.eridanus_section_3 {
position:relative;
}

@media only screen and (min-width: 770px) {
	.eridanus  {
	grid-template-columns : repeat(12, 1fr); 
	}
	.eridanus_section_1, .eridanus_section_2, .eridanus_section_3, .eridanus_section_4, .eridanus_section_5, .eridanus_section_6{
			grid-column: 1/13;
	}
}